In [1]:
# Dictionary
# Indexed
# ordered
# multiple data r duplicate data
# mutable

In [3]:
# a={<key>:<value>,<key>:<value>}
a={'a':"apple",'b':"ball",'c':'cat'}
print(a)
print(type(a))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [5]:
print(a['b'])

ball

In [6]:
a={'a':"apple",'b':"ball",'c':'cat'}
print(len(a))

3

In [7]:
a={'a':"apple",'b':"ball",'c':'cat'}
a['d']="dog"
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [10]:
a={}
a['a']="apple"
a['b']="ball"
a['c']="cat"
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [13]:
data={}
n=int(input("enter the number"))
for i in range (n):
    name=input("enter a name")
    phone=int(input("enter a number"))
    data[name]=phone
print(data)

enter the number2
enter a namebikina
enter a number21
enter a nameram
enter a number2
{'bikina': 21, 'ram': 2}

In [14]:
a={'bikina': 21, 'ram': 2}
for i in a:   #for printing key
    print(i)

bikina
ram

In [15]:
a={'bikina': 21, 'ram': 2}
for i in a.values():   #for printing valuesa={'bikina': 21, 'ram': 2}
for i in a:   #for printing key
    print(i)

21
2

In [18]:
a={'bikina': 21, 'ram': 2}
for i in a.items():   #for printing values and keys   
    print(i)

('bikina', 21)
('ram', 2)

In [24]:
a={'bikina': 21, 'ram': 2}
del a['ram'] #both value and key gets deleted
print(a)

{'bikina': 21}

In [22]:
a={'bikina': 21, 'ram': 2}
b=a.pop('ram')
print(a)
print(b)

{'bikina': 21}
2

In [25]:
#list inside dictionary
a={'bikina': [21,32], 'ram': [2,5]} #multpile values
print(a)

{'bikina': [21, 32], 'ram': [2, 5]}

In [27]:
#a={'bikina': 21, 'ram': 2}
info ={}
n=int(input("enter  a number"))
for i in range (n):
    name=input("enter name")
    ntc_phone=int(input("enter ntc number"))
    ncell_phone=int(input("enter ncell number"))
    info[name]=[ntc_phone,ncell_phone]
print(info)

enter  a number1
enter namebiki
enter ntc number43343
enter ncell number3232
{'biki': [43343, 3232]}

In [30]:
a={'bikina': [986091188,98323242], 'ram': [9862707794,987867544]}
a['ram'][1] #prints the value of the index in which the number is in

987867544

In [32]:
a={'bikina': [986091188,98323242], 'ram': [9862707794,987867544]}
a['ram'].append(9856543443)
a

{'bikina': [986091188, 98323242], 'ram': [9862707794, 987867544, 9856543443]}

In [33]:
#for placing totally new value in a
a['hari']=[987656534,987654343]
a

{'bikina': [986091188, 98323242],
 'ram': [9862707794, 987867544, 9856543443],
 'hari': [987656534, 987654343]}

In [34]:
a={'name':["ram","shyam"],'NTC':[9878675645,798675645],'NCELL':[98765543443,8574635242]}

{'name': ['ram', 'shyam'],
 'NTC': [9878675645, 798675645],
 'NCELL': [98765543443, 8574635242]}

In [37]:
info ={'Name':[],'NTC':[],'NCELL':[]}
n=int(input("enter  a number"))
for i in range (n):
    name=input("enter name")
    ntc_phone=int(input("enter ntc number"))
    ncell_phone=int(input("enter ncell number"))
    info["Name"].append(name)
    info["NTC"].append(ntc_phone)
    info["NCELL"].append(ncell_phone)
    
print(info)

enter  a number2
enter namebijidnd
enter ntc number987654
enter ncell number97867564
enter namebggh
enter ntc number8675
enter ncell number6545343
{'Name': ['bijidnd', 'bggh'], 'NTC': [987654, 8675], 'NCELL': [97867564, 6545343]}

In [42]:
info=[{'name':'ram','age':43,'add':'kathmandu'},
     {'name':'shyam','age':32,'add':'bhaktapur'},
     {'name':'hari','age':23,'add':'lalitpur'}]
print(info[0])

{'name': 'ram', 'age': 43, 'add': 'kathmandu'}

In [45]:
info[0]['name']="hari bahadur"
info

[{'name': 'hari bahadur', 'age': 43, 'add': 'kathmandu'},
 {'name': 'shyam', 'age': 32, 'add': 'bhaktapur'},
 {'name': 'hari', 'age': 23, 'add': 'lalitpur'}]

In [46]:
info=[]
n=int(input("enter the value of n"))
for i in range(n):
    name=input("enter name")
    age=int(input("enter age"))
    add=input("enter address")
    data={'name':name,'age':age,'add':add}
    info.append(data)
print(info)

enter the value of n2
enter namebikina
enter age25
enter addressggaushsala
enter namedipak
enter age30
enter addressbhaktapur
[{'name': 'bikina', 'age': 25, 'add': 'ggaushsala'}, {'name': 'dipak', 'age': 30, 'add': 'bhaktapur'}]

In [3]:
data={'coke':100,'pizza':150,'momo':100}

    
product=input("enter product name")
price=data[product]
quantity=int(input("enter quantity"))
total=price*quantity

enter product namecoke
enter quantity2

###

In [4]:
#dictionary inside dictionary
a={1456:{'name': 'hari bahadur', 'age': 43, 'add': 'kathmandu'},
   2123:{'name': 'shyam', 'age': 32, 'add': 'bhaktapur'},
   3212:{'name': 'hari', 'age': 23, 'add': 'lalitpur'}}
print(a)

{1456: {'name': 'hari bahadur', 'age': 43, 'add': 'kathmandu'}, 2123: {'name': 'shyam', 'age': 32, 'add': 'bhaktapur'}, 3212: {'name': 'hari', 'age': 23, 'add': 'lalitpur'}}

In [5]:
print(a[1456])

{'name': 'hari bahadur', 'age': 43, 'add': 'kathmandu'}

In [7]:
a[4321]={'name':'sikkum','age':23,'add':'gaushala'}
print(a[4321])
a

{'name': 'sikkum', 'age': 23, 'add': 'gaushala'}

{1456: {'name': 'hari bahadur', 'age': 43, 'add': 'kathmandu'},
 2123: {'name': 'shyam', 'age': 32, 'add': 'bhaktapur'},
 3212: {'name': 'hari', 'age': 23, 'add': 'lalitpur'},
 4321: {'name': 'sikkum', 'age': 23, 'add': 'gaushala'}}

In [8]:
del a[4321]
a

{1456: {'name': 'hari bahadur', 'age': 43, 'add': 'kathmandu'},
 2123: {'name': 'shyam', 'age': 32, 'add': 'bhaktapur'},
 3212: {'name': 'hari', 'age': 23, 'add': 'lalitpur'}}

In [ ]:
#wap to create dictionary inside dictionary

a={}
b={}
n=int(input("enter a number"))
for i in range (n):
    name=input("enter name")
    age=int(input("enter age"))
    add=input("enter add")
    a[name]=age
    b.append(a)
    print(b)