In [2]:
def main():
    value="Hello world"
    def inner_function():
        
        print(value)
    return inner_function()
    
    
main()

Hello world

In [3]:
value = "hello world"
def main():
    def inner_function():
        
        print(value)
    return inner_function()
    
    
main()

hello world

In [10]:
def outer_function(fun):
    
    def inner_function():
        x=fun()
    return inner_function()
    
@outer_function
def Hello():
    print("Heello World")

Heello World

In [19]:
def strings(function):
    def wrapper():
        fun=function()
        x=fun.lower()
        return x
    return wrapper

@strings
def info():
    return "HELLO world"

info()

'hello world'

In [21]:
#BONUS CHAPTER COMPREHENSION:LIST,DICTIONARY
a=[]
for i in range(0,20):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
a=[i for i in range(0,20)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
a=[i for i in range(0,20) if i%2==0]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
a=[234,42,23,4235,435,654,5346,45342,24354,4534,23353,42345,5345,5434,54,232,3564,345,5342]
[i for i in a if i%5==0]

[4235, 435, 42345, 5345, 345]

In [31]:
a=["apple","ball","cat","dog","egg","fish","goat","house"]
b=[i for i in a if i[0]=="a"]
print(b)

['apple']

In [32]:
d={i:i**2 for i in range (1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [36]:
a=["apple","ball","cat","dog","egg","fish","goat","house"]
d={i: i.upper() for i in a}
d

{'apple': 'APPLE',
 'ball': 'BALL',
 'cat': 'CAT',
 'dog': 'DOG',
 'egg': 'EGG',
 'fish': 'FISH',
 'goat': 'GOAT',
 'house': 'HOUSE'}

In [40]:
#date and time
import datetime
x=datetime.datetime.now()
print(x)

2022-04-26 15:53:58.035749

In [41]:
import datetime
x=datetime.datetime.now()

print(x.year)
print(x.strftime("%c"))

2022
Tue Apr 26 15:55:19 2022

In [43]:
import datetime
x=datetime.datetime.now()
a=["apple","ball","cat","dog","egg","fish","goat","house"]
b=[i for i in a if i[0]=="a"]
print(b)
y=datetime.datetime.now()
print(y-x)

['apple']
0:00:00