In [ ]:
# for loop
# while loop

In [ ]:
# for(i=0;i<5:i++)

In [ ]:
# range(5) 0,1,2,3,4
# range(1,5) 1,2,3,4
# range(1,10,2) 1,3,5,7,9 the last number is the increment ie.. the number is increassed by 2

In [ ]:
for i in range(1):
    print(i,"My name is bikina")

In [ ]:
for i in range(1,10):
    print(i,"My name is bikina")

In [3]:
for i in range(1,10,2):
    print(i,"My name is bikina")

1 My name is bikina
3 My name is bikina
5 My name is bikina
7 My name is bikina
9 My name is bikina

In [2]:
for i in range(10,0,-3): 
    print(i,"My name is bikina")

10 My name is bikina
7 My name is bikina
4 My name is bikina
1 My name is bikina

In [1]:
n= int(input("enter the value of n"))
for i in range(1,11):
    print(i*n)

enter the value of n5
5
10
15
20
25
30
35
40
45
50

In [4]:
n= int(input("enter the value of n"))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

enter the value of n3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [9]:
s=0
n= int(input("enter the value of n"))
for i in range (n):
    x=int(input("enter the value of x="))
    s=s+x
    
    print(s)

enter the value of n2
enter the value of x=3
3
enter the value of x=5
8

In [8]:
s=str()
n= int(input("enter n="))
for i in range (n):
    x= input("enter x=")
    s=s+x+"\n"
   
    
    
    print(s)

enter n=5
enter x=ram
ram

enter x=shyam
ram
shyam

enter x=hari
ram
shyam
hari

enter x=sita
ram
shyam
hari
sita

enter x=geeta
ram
shyam
hari
sita
geeta

In [10]:
s=str()
n= int(input("enter n="))
for i in range (n):
    name= input("enter name=")
    phone=input("enter phone=")
    s=s+name+" "+"phone"+"\n"
   
    
    
    print(s)

enter n=2
enter name=ram
enter phone=854854
ram phone

enter name=shyam
enter phone=865
ram phone
shyam phone

In [12]:
s=str()
n= int(input("enter n="))
for i in range (n):
    name= input("enter name=")
    phone=int(input("enter phone="))
    s=s+name+" "+str(phone)+"\n" #str(phone) is used because the program is in string and will contradict so its changed to string
print(s)

enter n=2
enter name=3
enter phone=32
enter name=23
enter phone=23
3 32
23 23

In [13]:
#5!= 1*2*3*4
fac=1
n=int(input("enter the value of n="))
for i in range(1,n+1):
    fac=fac*i
print(fac)

enter the value of n=5
120

In [14]:
fac=1
n=int(input("enter the value of n="))
for i in range(1,n+1):
    fac=fac*i
    print(fac)

enter the value of n=5
1
2
6
24
120

In [15]:
a="python"#each character acts as a sequence of characters
for i in a:
    print(i)

p
y
t
h
o
n

In [18]:
a="Hello World iam Python"
for i in a:
    if i !=" ":
        print(i,end=".")

H.e.l.l.o.W.o.r.l.d.i.a.m.P.y.t.h.o.n.

In [21]:
a="Hello World iam Python"
for i in a:
    if i !=" ":
        print(i)

H
e
l
l
o
W
o
r
l
d
i
a
m
P
y
t
h
o
n

In [31]:
# Control statements
# break
# continue
# pass

In [33]:
#break statement
for i in range(10):
    if i==5:
        break
    else:
            print(i)

0
1
2
3
4

In [37]:
#continue statement
for i in range(10):
    if i==5:
        continue
    
    print(i,end="")

012346789

In [1]:
a="Hello World iam Python"
for i in a:
    if i ==" ":
        continue
        
    print(i,end="")

HelloWorldiamPython