In [ ]:
#python collection
#list
#tuple
#dictionary
#set

In [ ]:
#list
#indexed
#ordered
#multipled or dictionary
# -multiple

In [ ]:
#list
a=["apple","ball","cat"]
l=len(a)
print(l)
print(a)
print(type(a))

In [ ]:
#list
a=["apple","ball","cat","dog","eye","fish"]
print(a[1])
print(a[0:4])
print(a[0:4:2])

In [ ]:
#ordered
a=["apple","ball","cat","dog","eye","fish"]
b=[1,2,3,4,5]
c=b+a
print(c)

In [ ]:
a=["apple","ball","cat","dog","eye","fish"]
print(a*2) #though you multily it only saves one data

In [ ]:
#multiple
a=[1,2,3,4,5,"apple","ball","cat","dog","eye","fish",1,2]
l=len(a)
print(l)

In [ ]:
#mutabe
a=["apple","ball","cat","dog","eye","fish"]
a[0]='ant'
a[0:4]="ant","banana","cow","dice"
print(a)

In [ ]:
l=list()
n=int(input("enter the value of n"))
for i in range(n):
    x=int(input("enter the value of x"))
    l.append(x)
print(l)

In [ ]:
#max min sum
a=[2,3,4,5,1]
print(max(a))
print(min(a))
print(sum(a))
a.sort()
print(a)

In [ ]:
a=["apple","ball","cartoon","doll"]
a.sort() #sort is only used in list
print(a)

In [ ]:
l=list()
n=int(input("enter the value of n"))
for i in range(n):
    x=input("enter the object")
    l.append(x)
print(l)

In [ ]:
a=["apple","ball","cartoon","doll"]
for i in a:
    print(i)

In [ ]:
a=["apple","ball","cartoon","doll","apple"]
if "apple" in a:
    print("yes")
    print(a.count("apple"))

In [ ]:
# append()
# insert()
# extend()

In [ ]:
a=[]
a.append("apple")
print(a)

In [ ]:
a=["apple","ball","cartoon","doll","fish"]
a.insert(1,"")
print(a)

In [ ]:
a=["apple","ball","cartoon","doll","fish"]
b=[1,2,3,4,5,6]
a.extend(b)
print(a)

In [ ]:
#remove() del pop()
a=["apple","ball","cartoon","doll","fish"]
a.remove("apple")
print(a)

In [ ]:
a=["apple","ball","cartoon","doll","fish"]
del a[0:2]
print(a)

In [ ]:
a=["apple","ball","cartoon","doll","fish"]
a.index("fish")

In [ ]:
a=["apple","ball","cartoon","apple","doll","fish"]
l=a.count("apple")
print(l)
for i in range(l):
    if a[i] =="apple":
        a.remove(a[i])
    print(a)

In [ ]:
b=[]
a=["apple","ball","cartoon","apple","doll","fish","apple"]
for i in a:
    if i!="apple":
        b.append(i)
print(b)

In [ ]:
#WAP to detect index of same value
a=["apple","ball","cartoon","apple","doll","fish","apple","apple"]
l=len(a)
for i in range(l):
    
    if a[i]=="apple":
        print(a[i],i)

In [3]:
a=["apple","ball","cartoon","apple","doll","fish","apple","apple"]
for i in a:
    if i =="apple":
        b=a.index("apple")
        print(b)

0
0
0
0

In [1]:
# nested list or list inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(len(a))

3

In [2]:
print(a[2])

[7, 8, 9]

In [1]:
a=[['ram',34,'kathmandu'],
  ['Shyam',23,'patan'],
  ['hari',54,'bhaktapur']]
a

[['ram', 34, 'kathmandu'], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]

In [2]:
a[0][2]

'kathmandu'

In [3]:
name=input("enter the name=")
for i in a:
    print(i)

enter the name=ram
['ram', 34, 'kathmandu']
['Shyam', 23, 'patan']
['hari', 54, 'bhaktapur']

In [4]:
name=input("enter the name=")
for i in a:
    if name in i:
        print(i)

enter the name=ram
['ram', 34, 'kathmandu']

In [6]:
b=[]
n=int(input("enter a number"))
for i in range(n):
    name=(input("enter a name"))
    age=int(input("enter the age"))
    add=input("enter the addres")
    append=[name,age,add]
    b.append(append)
    print(b)

enter a number2
enter a namebikina
enter the age25
enter the addresgaushala
[['bikina', 25, 'gaushala']]
enter a namedipak
enter the age27
enter the addresbhaktapur
[['bikina', 25, 'gaushala'], ['dipak', 27, 'bhaktapur']]

In [8]:
a=[['ram', 34, 'kathmandu'], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]
del a[0]
a

[['ram', 34], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]

In [9]:
a=[['ram', 34, 'kathmandu'], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]
a[0][0]="sita"
print(a)

[['sita', 34, 'kathmandu'], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]

In [12]:
a=[['ram', 34, 'kathmandu'], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]
a.append(['ram',32,'machapokhari'])
a

[['ram', 34, 'kathmandu'],
 ['Shyam', 23, 'patan'],
 ['hari', 54, 'bhaktapur'],
 ['ram', 32, 'machapokhari']]

In [13]:
a=[['ram', 34, 'kathmandu'], ['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]
name=input("enter a name")
for i in a:
    if name in i:
        a.remove(i)
a

enter a nameram

[['Shyam', 23, 'patan'], ['hari', 54, 'bhaktapur']]

In [6]:
# WAP to create a matrix by taking row and column
import 
n=3
for i in range(n):
    x=int(input("enter value x"))
    y=int(input("enter value of y"))
    z=(int(input("enter value of z")))
    list1=x,y,z
    list2=y,z,x
    list3=z,x,y
matrix=m.matrix[list1,list2,list3]
print(matrix)

ModuleNotFoundError: No module named 'maths'