In [1]:
# Set
# -No Indexing
# -multiple value
# unordered
# no duplicate members
# mutable

In [3]:
a={1,2,3,4,5}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4, 5}

In [5]:
a={"apple","ball",1,2,3,"xray"}
print(a)
a

{1, 2, 3, 'apple', 'xray', 'ball'}

{1, 2, 3, 'apple', 'ball', 'xray'}

In [6]:
a={1,1,2,3,2,2,3,4,5,6,7,7,7}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
a=set()
a.add("apple")
a.add("ball")
a

{'apple', 'ball'}

In [8]:
# + * operator like plus and multiply is not used in set

In [9]:
a=["apple","ball",1,2,3,4,5,3,21,1]
list(set(a))

[1, 'apple', 3, 2, 4, 5, 21, 'ball']

In [10]:
a={1,2,1,2,3,4,5,3,2}
b={2,4,3,4,5,3}
a.update(b)
print(a)

{1, 2, 3, 4, 5}

In [12]:
a={1,2,1,2,3,4,5,3,2}
a.remove(3)
a

{1, 2, 4, 5}

In [14]:
a={1,2,1,2,3,4,5,3,2}
a.replace(3,"apple")
a

AttributeError: 'set' object has no attribute 'replace'

In [15]:
a={[1,2,3],[3,4,5]}  #list inside set doesnt exist
a

TypeError: unhashable type: 'list'

In [17]:
a={(1,2,1),(2,3,4)} #tuple inside set exist
a

{(1, 2, 1), (2, 3, 4)}

In [18]:
a={{1,2,3},{4,5,6}} #set inside set doesnt exist as well
a

TypeError: unhashable type: 'set'

In [19]:
#union() ,intersection(),difference() exists

In [26]:
U={'sabita',"alax",'lee', 'shyam', 'hari', 'josh', 'ram', 'nabin', 'bill', 'ramesh', 'sabin', 'jobs'}
{'hari', 'ram', 'nabin', 'jobs'}
apple={"ram","shyam","hari","sabin","jobs","nabin"}
ms={"bill","sabita","ramesh","josh","shyam","sabin"}
common=apple.intersection(ms)
print(common)
al=apple.union(ms)
print(al)
only_apple=apple.difference(ms)
print(only_apple)

only_ms=ms.difference(apple)
print(only_ms)
U.difference(al)
#if more than 2 sets then use as eg: ms.difference(apple,ibm)

{'sabin', 'shyam'}
{'sabita', 'shyam', 'hari', 'josh', 'ram', 'nabin', 'bill', 'ramesh', 'sabin', 'jobs'}
{'hari', 'ram', 'nabin', 'jobs'}
{'bill', 'sabita', 'ramesh', 'josh'}

{'alax', 'lee'}