In [1]:
#string
a="hello world"
print(a)
print(type(a))

hello world
<class 'str'>

In [3]:
a="hello"
b="world"
c=a+"\n"+b
print(c)

hello
world

In [4]:
a="hello world\n"
print(a*2)

hello world
hello world

In [6]:
a ="hello world"
print(a[4])

o

In [7]:
a ="hello world"
print(a[0:5]) #number of index can be printed

hello

In [9]:
a ="hello world"
print(a[0:10:2]) #0 to 10 with skip or increment 1

hlowr

In [10]:
a ="hello world"
b= a[0:5]
c=a[5:]
print(b)
print(c) #slicing of string like that of defining range

hello
 world

In [16]:
a ="hello world"
l=len(a)
print(l)
print(a[l::-1]) #l: if not placed any nummber it means till last ,even if -1 is written the last value disappears so we don't write -1

11
dlrow olleh

In [3]:
#string formatting
name= input("enter name =")
age=int(input("enter age="))
add=input("enter address=")
info=f"Hello Iam {name} I am from {add} Iam {age} years old"
print(info)

enter name =bikina
enter age=25
enter address=gaushala
Hello Iam bikina I am from gaushala Iam 25 years old

In [4]:
s=str()
n=int(input("enter a number"))
for i in range(n):
    name=input("enter name= ")
    phone=int(input("enter ph num= "))
    info=f"{name}  {phone}\n"  #f is used for formaatting which helps to convert any int str and convert them in once.
    s=s+info
print(info)

enter a number2
enter name= bikina
enter ph num= 9860911188
enter name= dipak
enter ph num= 9862707742
dipak  9862707742

In [8]:
a = "ram shyam hari sita gita nabin"
name= input("enter name=")
if name in a:
    print("yes")
    print(a.count(name))

enter name=Ram

In [10]:
a = "ram shyam hari sita gita nabin"
a.upper()
a.lower

In [12]:
a = "ram shyam hari sita gita nabin".lower()  #if both kept in lower it can search the value else upper lower case makes an issue
name= input("enter name=").lower()
if name in a:
    print("yes")
    print(a.count(name))

enter name=shyam
yes
1

In [13]:
a = "ram shyam hari sita gita nabin"
a.title()

'Ram Shyam Hari Sita Gita Nabin'

In [15]:
a = "ram shyam hari sita gita nabin"
a=a.upper() #used because a.upper() would only show not print in upper case unless a= is used
print(a)

RAM SHYAM HARI SITA GITA NABIN

In [18]:
a = "ram shyam hari sita gita nabin ram rita"
a=a.replace('ram',"RAM")
print(a)

RAM shyam hari sita gita nabin RAM rita

In [19]:
a = "ram shyam hari sita gita nabin ram rita"
a=a.replace('ram',"")
print(a)

 shyam hari sita gita nabin  rita

In [20]:
#juypter prints the last value even if you dont write print. so you should write print
a=10
b=2
a
b

2

In [1]:
#WAP to develop a billing application using string and loop and formatting
# Name
# price
# quantity
# total
# grandtotal

In [4]:

n=int(input("enter the numbr of item want to enter"))
s=0
for i in range(n):
    
    name=input("enter the name of item")
    price=int(input("enter the price of item"))
    quantity=int(input("enter the quantity of item"))
    total= price*quantity
    info= f" Name {name} Price {price} Quantity {quantity}"
    print(info,"total",total)
    s=s+total


print("The grand total is" ,s)

enter the numbr of item want to enter2
enter the name of itemmilk
enter the price of item20
enter the quantity of item10
 Name milk Price 20 Quantity 10 total 200
enter the name of itembread
enter the price of item10
enter the quantity of item2
 Name bread Price 10 Quantity 2 total 20
the grand total is 220