In [1]:
#tuple
#indexed
#ordered
#multipled or duplicate data
# -imultiple

In [6]:
a=tuple()
a=(1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [7]:
a=(1,)
b=('apple',)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [10]:
a=("apple","ball","cat","dog")
print(a[0:4])
print(a[0])

('apple', 'ball', 'cat', 'dog')
apple

In [12]:
a=("apple","ball","cat","dog")
b=("fish",)
c=a+b
print(c)

('apple', 'ball', 'cat', 'dog', 'fish')

In [13]:
a=("apple","ball","cat","dog")
a*2

('apple', 'ball', 'cat', 'dog', 'apple', 'ball', 'cat', 'dog')

In [14]:
# no append()
# no insert()
# no extend()
# no update
# no delete remove or pop

In [16]:
t=tuple()
n=int(input("enter the value of n"))
for i in range(n):
    x=input("enter x=")
    t=t+(x,)
print(t)

enter the value of n2
enter x=apple
enter x=ball
('apple', 'ball')

In [18]:
def cal():
    a=10
    b=12
    return a,b
cal()

(10, 12)

In [19]:
a=10,11,12
a

(10, 11, 12)

In [22]:
a=("apple","ball","cat","dog")
b=list(a)
del b[0]
a=tuple(b)
a

('ball', 'cat', 'dog')

In [23]:
# tuple inside tuple
a=(('ram',34,'kathmandu'),
  ('Shyam',23,'patan'),
  ('hari',54,'bhaktapur'))
print(a)

(('ram', 34, 'kathmandu'), ('Shyam', 23, 'patan'), ('hari', 54, 'bhaktapur'))

In [24]:
a=(('ram',34,'kathmandu'),
  ('Shyam',23,'patan'),
  ('hari',54,'bhaktapur'))
b=(('nabin',43,'bharatpur'),) #tuple inside tuple to add a tuple
print(a+b)

(('ram', 34, 'kathmandu'), ('Shyam', 23, 'patan'), ('hari', 54, 'bhaktapur'), ('nabin', 43, 'bharatpur'))

In [25]:
# WAP to write tuple inside tuple

In [27]:
a=(('ram',34,'kathmandu'),
  ('Shyam',23,'patan'),
  ('hari',54,'bhaktapur'))
b=list(a)
del b[0]
b

[('Shyam', 23, 'patan'), ('hari', 54, 'bhaktapur')]

In [28]:
b.append(('nabin',67,'bara'))
b

[('Shyam', 23, 'patan'), ('hari', 54, 'bhaktapur'), ('nabin', 67, 'bara')]

In [29]:
b[0]

('Shyam', 23, 'patan')

In [ ]:
# WAP to convert tuple inside tuple to list inside list
#wap to perform CRUD list inside tuple    #create,remove,update,delete